body{
    font-family: 'Poppins', sans-serif;
}
.flexible-item{
    display: flex;
}
h1{
    font-size: 40px;
    font-weight: bolder;
}
.color-change{
    color: goldenrod;
}
#border{
    border-left: 5px solid salmon;
    font-family: Libre Baskerville;
    font-weight: bolder;
    padding-left: 5%;
    font-size: 60px;

}
.width-item{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 3%;
}
.width-item img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-color: #f72f5b;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;

}
#single-line{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
}
.center{
    text-align: center; 
}
.back-color-div1{
    background-color: #fac8fa;
    border-radius: 20px;
    margin-left: 7%;
    padding-left: 2%;
    
}
.back-color-div2{
    background-color: rgb(250, 189, 178);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding-left: 2%;
}
.back-color-div3{
    background-color: rgb(247, 155, 247);
    border-radius: 20px;
    margin-right: 7%;
    padding-left: 2%;
}
.padding-width{
    width: 90%;
    padding-left: 5%;
}
.padding-width img{
    width: 40%;
}
.background{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: left;
}
.second-background{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: right;
}
.third-background{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: left;
}
.clr-cng{
    color: hsl(0, 97%, 49%);
}
.last-style{
    text-align: center;
    background-color: #111111;
    padding-top: 1%;
}
.last-style h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.last-style p{
    color: white;
    padding-bottom: 2%;
}
